.container {
  max-width: 1000px;
  padding: 0px; }

.vis {
  width: 100%; }
  .vis > table {
    width: 100%; }
    .vis > table > tbody > tr > td:first-of-type {
      max-width: 800px; }
    .vis > table > tbody > tr > td:last-of-type {
      min-width: 200px;
      width: 200px;
      vertical-align: top; }
  .vis select {
    min-width: 50px;
    max-width: 100%; }

.vis-figure {
  height: 400px;
  min-width: 400px;
  width: 100% !important; }

.vis-table {
  width: 100% !important; }
  .vis-table td {
    min-width: 100px;
    white-space: nowrap; }

#opposition .vis-table th {
  border: none; }
#opposition .vis-table tbody {
  display: none; }

.label {
  pointer-events: none;
  position: relative;
  float: right;
  top: 28px;
  right: 18px; }

#refresh {
  position: absolute;
  margin: 10px;
  right: 0px; }

.alert {
  padding: 10px;
  margin: 10px;
  display: none;
  position: fixed; }
